/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Separación entre secciones */
section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #ddd;
}

section:last-of-type {
  border-bottom: none;
}

/* Imagen redonda en Sobre mí */
#sobre-mi img {
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Portafolio - Tarjetas */
.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* Imagen logos experiencia */
#experiencia img {
  max-height: 200px !important;
}

/* Imagenes del portafolio (tamaño uniforme) */
.portafolio-img {
  height: 250px;
  object-fit: cover;
}
